.all-calculate{
  font-family: Arial;
}
.calculate{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbf9ff;
  border-radius: 3px;
  border: solid 1px #000;
  width: 400px;
  padding: 20px 20px 20px 20px;
}
.calculate h2{

}
.user-input input{
  width: calc(100% - 40px);
  height: 70px;
  background-color: #ecffe9;
  padding: 0px 20px 0px 20px;
  font-size: 42px;
  outline: none;
  border-radius: 3px;
  border: none;
  border: solid 1px #000;
}
.navigate{
  display: flex;
}
.buttons{
  margin: 30px 0px 0px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.buttons .number{
  border: solid 1px #000;
  background-color: #ecffe9;
  cursor: pointer;
  height: 83px;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all .3s linear;
}
.buttons .number:hover{
  background-color: #000000;
  transition: all .3s linear;
  color: #fff;
}

/* REMOVE INPUT ARROW */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* REMOVE INPUT ARROW */
